.navbar-nav li {
    font-size: 12px!important;
    padding-right: 20px!important;
}

.navbar-nav li a:hover {
    border: 1px solid #ffd900;
    /* color: #ffd900!important; */
    background-color: #ffd900;
    color: #fff!important;
}

.navbar-nav li a {
    padding-right: 12px!important;
    color: #343434!important;
    border: 1px solid transparent;
    border-radius: 4px;
    font-weight: 600;
    padding-left: 12px!important;
    padding-right: 12px!important;
}

.navbar-nav .dropdown-item {
    font-size: 12px!important;
    color: #343434!important;
}

.bk-grey {
    background-image: url("../img/banner.jpg");
    background-repeat: no-repeat;
}

/* .btn-search {
    background-color: #ffd900;
    color: #343434;
    padding-right: 35px!important;
    padding-left: 35px!important;
} */

.btn-search-1 {
    background-color: transparent;
    /* border: 1px solid #ffd900; */
    color: #ffd900;
    font-size: 14px;
    padding-right: 35px!important;
    padding-left: 35px!important;
    border-radius: 4px!important;
}

.pub-x1 a {
    color: #ffd900;
}

.btn-search-1:hover {
    background-color: #ffd900;
    color: #fff!important;
}

.inner-txt img{
    max-width: 2%;
    margin-top: -6px;
}

.bk-1 {
    border-bottom: 1px solid rgb(236, 236, 236);
}

.pub-x1 img {
    max-width: 90%;
}

.pub-x1 h2 {
    font-size: 18px!important;
}

.rl h2 {
    font-size: 18px!important;
    padding-top: 10px;
    color: #343434;
}

.rl p {
    font-size: 14px;
    color: #788088;
    padding-top: 7px;
    margin-bottom: 0px!important;
}

.btn-more {
    text-align: left!important;
    font-size: 14px;
    color: #ffd900;
    font-size: 12px!important;
}

.btn-more:hover {
    color: #e9c600;
}

.rl .btn {
    padding-left: 0px!important;
    margin-left: 0px!important;
    margin-top: 0px!important;
}
.rl {
    box-shadow: 0px 3px 12px -2px rgb(209, 209, 209);
    border-radius: 12px;
}

.rl-content {
    
    background-color: #fff;
    padding: 20px;
}

.rl img {
    max-width: 100%;
    border-radius: 12px 12px 0px 0px;
}

.biz {
    max-width: 60%;
    text-align: left;
    margin: auto;
    float: right;
}

.biz h2 {
    font-size: 16px;
    padding-top: 10px;
}

.biz .fa {
    color: #ffd900;
    font-size: 30px;
    padding-top: 20px;
}

.biz h3 {
    font-size: 24px;
}

.biz p {
    font-size: 13px;
    max-width: 80%;
}

.btn-1 {
    background-color: #ffd900;
    border: 1px solid #ffd900;
    border-radius: 25px;
    padding: 10px 20px!important;
}

.bk-img {
    background-image: url("../img/bk-img.png");
}

.rt-1 iframe {
    margin: auto!important;
    border-radius: 12px;
    border: none!important;
}

.rt-2 {
    padding-top: 100px;
}

/* block 6 starts here */

.bk6-1 h2 {
    font-size: 24px;
    padding-top: 40px;
    max-width: 60%;
}

.bk6-1 p {
    font-size: 14px;
    line-height: 1.8;
}

.s-p .form-control {
    box-shadow: 0px 3px 12px -2px rgb(209, 209, 209);
    padding-top: 20px!important;
    padding-bottom: 20px!important;
    font-size: 14px!important;
    padding-left: 20px!important;
}

.s-p .x1 {
    border-radius: 25px!important;
}

.bk6-1 form {
    max-width: 75%;
}

.btn-search {
    background-color: #ffd900;
    color: #fff;
    box-shadow: 0px 3px 12px -2px rgb(209, 209, 209);
}

.dc-v img {
    max-width: 80%;
    padding-top: 30px;
}

.footer h2{
    font-size: 24px;
    padding-top: 40px;
}

.bk-black {
    background-color: #000;
    color: #fff;
}

.ul-footer li {
    list-style: none;
    padding-bottom: 7px;
    font-size: 14px;
}

.ul-footer li a {
    color: #fff;
}

.ul-footer li a:hover {
    text-decoration: none;
    opacity: 0.7;
}

.ul-footer {
    padding-left: 0px!important;
}

.ft-1 h2{
    font-size: 16px;
    color: #ffd900;
}

.ul-soc li {
    display: inline;
    padding-right: 14px;
}

.ul-soc li a {
    background-color: #fff;
    border-radius: 2px;
    padding: 4px;
    color: #000;
}

.ul-soc li a .fa {
    font-size: 18px;
}

.ul-con {
    list-style: none;
}

.ul-con .fa {
    padding-right: 8px;
}


.ft-1 ul {
    padding-left: 0px!important;
}

.bk-con {
    background-color: #ffd900;
    font-size: 18px;
    text-align: center;
}

.raz h2 {
    font-size: 18px;
    padding-top: 30px;
    padding-bottom: 20px;
}

.team-bt h2 {
    font-size: 18px;
    color: #fff;
}

.team-bt p {
    font-size: 14px;
    color: #fff;
}

.team {
    text-align: center;
}

.team-bt {
    background-color: #4e1d8f;
    color: #fff;
    padding-top: 12px;
    padding-bottom: 7px;
    margin-bottom: 6px;
}

.team-bt-1 {
    background-color: #81c0b2;
    color: #fff;
    padding-top: 12px;
    padding-bottom: 7px;
    margin-bottom: 6px;
}

.team img {
    max-width: 100%;
}

.team-img img {
    max-width: 100%;
}

.bk7-1 h2 {
    font-size: 16px;
    padding-top: 30px;
    text-align: center;
}